.nav {
  background-color: #f9f9fa;
  padding: 20px 60px;
  border-top: var(--main-border);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: translateY(-5px) rotateX(0deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(3px) rotateX(30deg);
  }
  100% {
    transform: translateY(-5px) rotateX(0deg);
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  top: -22px;
  animation: notificationAnimation 0.8s ease-in-out infinite;
}

.nav__notification2 {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 32px;
  bottom: 28px;
}

@keyframes appearBtnAni {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    transform: translateY(-3px);
    opacity: 0.8;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.nav__btn,
.nav_btnk {
  animation: appearBtnAni 0.7s ease-in-out forwards;
  transform: translateY(70px);
}

.nav_btnk {
  animation-delay: 0.1s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.2s;
}

.nav__btn:last-child {
  animation-delay: 0.3s;
}
