.nav {
  background-color: #f9f9fa;
  padding: 20px 60px;
  border-top: var(--main-border);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateX(30deg);
  }
  100% {
    translatey: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  top: -22px;
  animation: notificationAnimation 1.5s ease-in-out infinite;
}

.nav__notification2 {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 32px;
  bottom: 28px;
}
