.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px 30px;
}

.screen-header__title {
  font-size: 40px;
  font-weight: 400;
}

.screen-header__icons span {
  margin-left: 25px;
}

.alt-header__coulmn span {
  margin-left: 30px;
}

.alt-header__title {
  margin-right: -100px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog {
  animation: rotateCog 10s linear infinite;
}
